{# Create classes array #}
{% set classes = [
'slideshow__slides',
'js-slick-single-item-center',
'slick--single-item-center'
] %}
{% set sliderForClasses = [
'js-slick-nav-for'
] %}

<section class="cottage-image-container">
    <div class="field--name-cottage-images">
      <ul {{ attributes.addClass(classes) }}>
        {% for item in items %}
          <li{{ item.attributes }}>{{ item.content }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="field--name-cottage-images-control">
        <ul {{ attributes.addClass(sliderForClasses) }}>
            {% for item in items %}
                <li{{ item.attributes }}>{{ item.content }}</li>
            {% endfor %}
        </ul>
    </div>
</section>